# Python
__pycache__/
*.py[cod]
*.pyo
.env
*.egg-info/
dist/
build/
.venv/
venv/
env/

# Streamlit
.streamlit/secrets.toml

# Reports & data
reports/
*.json
*.csv

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
